.title {
    display: flex;
    align-items: center;

    h1 {
        flex: 2 1 auto;
    }

    button {
        float: 1 1 auto;
    }
}

.extentCard {
    max-width: 32%;
    display: inline-block;
    margin: 1em 0.5em;
     
    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }
}

.imageContainer {
    
}