<ng-container *ngIf="service != null; then thenTemplate; else elseTemplate"></ng-container>
<ng-template #thenTemplate>
  <div class="title">
    <h1>{{ service.name }}</h1>
    <button mat-flat-button color="primary" (click)="viewImage()">View Image</button>
  </div>
  <mat-divider></mat-divider>
  <div class="description">
    <h2>Description</h2>
    <p [innerHTML]="serviceDetail.description"></p>
  </div>

  <div class="extents">
    <h2>Extents</h2>
    <app-bounding-box [extent]="serviceDetail.extent" name="Extent" class="extentCard"></app-bounding-box>
    <app-bounding-box [extent]="serviceDetail.initialExtent" name="Initial Extent" class="extentCard"></app-bounding-box>
    <app-bounding-box [extent]="serviceDetail.fullExtent" name="Full Extent" class="extentCard"></app-bounding-box>
  </div>

  <ng-container *ngIf="image != null">
    <div class="imageContainer">
      <h2>Image</h2>
      <app-image-viewer [image]="image"></app-image-viewer>
    </div>
  </ng-container>


</ng-template>
<ng-template #elseTemplate>
  No services selected
</ng-template>