.extentCard {
    .content {
        padding: 15px;

        .left{
            float: left;
            max-width: 50%;
        }

        .right{
            float: right;
            max-width: 50%;
        }
    }
}